---
- hosts: 172.31.91.198 
  tasks:
   - name: check disc usage
     command: df -h
     register: disk_usage

   - name: check CPU load
     command: uptime
     register: cpu_load

   - name: check memory usage
     command: free -m
     register: mem_usage

   - name: Display results
     debug:
       msg: |
         {{ inventory_hostname }} health check:
         Disk_Usage:
         {{ disk_usage.stdout }} 
         CPU Load:
         {{ cpu_load.stdout }}
         Memory Usage:
         {{ mem_usage.stdout }}
         
   - name: Hello Message
      debug:
        msg: "Hello World!"
        
